<section>
  <div class="form_container">
    <!-- Login Form -->
    <div class="form login_form" *ngIf="showRegisterModal">
      <img src="assets/mug7.png" class="img-class ">
        <h2>Se connecter</h2>
       <!-- <div class="input_box">
          <input type="email" placeholder="Adresse e-mail" [(ngModel)]="email" name="email" required />
        </div> -->
        <div class="input-wrapper">
          <input id="email" [(ngModel)]="email"  required autocomplete="off"/>
          <label for="email">Adresse e-mail</label>
          <div class="underline"></div>
        </div>
        <div class="input-wrapper">
          <input type="password" id="password" [(ngModel)]="password" name="password" required autocomplete="off"/>
          <label for="password">Mot de passe</label>
          <div class="underline"></div>
        </div>
        <div class="option_field">
          <span class="checkbox">
            <input type="checkbox" id="check" />
            <label for="check">Se souvenir de moi</label>
          </span>
          <a href="#" class="forgot_pw">Mot de passe oublié ?</a>
        </div>
        <button class="button" (click)="onSubmit()">Connection</button>
        <div class="login_signup">Pas de compte Matcha? <a href="#" id="signup" (click)="toggleForm()">Creer un compte</a></div>
    </div>
    </div>
    <div *ngIf="!showRegisterModal">
      <app-register-modal [showRegisterModal]="showRegisterModal" (toggleForm)="toggleForm()"></app-register-modal>
    </div>
</section>