.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.title {
  font-size: 4em;
  color: white;
}

.image-class {
  width: 50px; 
  height: auto; 
  margin-left: 10px;
}
