<div class="background-image">
  <div class="container-navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="container-rect">
    <div class="content">
      <img src="assets/mug7.png" class="image-class" alt="Placeholder image">
      <h1 class="display-3 text-white mt-3">Trouvez votre bonheur en ligne avec Matcha!</h1>
      <p class="lead text-white">Bienvenue sur Matcha, votre espace de rencontre en ligne où vous pouvez facilement rencontrer de nouvelles personnes qui partagent vos intérêts et vos valeurs.</p>
      <p class="lead text-white ">Que ce soit pour trouver l'amour, de nouvelles amitiés ou des partenaires professionnels, Matcha vous offre un environnement convivial et sécurisé pour établir des relations authentiques. Explorez nos fonctionnalités intuitives et commencez à élargir votre cercle de connaissances dès aujourd'hui !</p>
      <button id="myButton" class="btn btn-outline-pink rounded-pill mt-3 btn-lg">Match!</button>
    </div>
  </div>
</div>


  
