<body>
  <header>
    <!-- Navbar !-->
    <div class="container-navbar">
    <app-navbar></app-navbar>
    </div>
  </header>
  <main>
    <!-- 
    <h1>WebSocket Test</h1>
    <div *ngIf="welcomeMessage">{{ welcomeMessage }}</div>
    <div *ngFor="let message of messages">
      {{ message }}
    </div> -->
    <!-- Research !-->
    <app-research (sortedUsers)="onSortedUsers($event)"></app-research>
    <!-- Browsing items !-->
    <div class="container" style="margin-bottom: 20px;">
      <div class="flex-item" *ngFor="let user of users" >
        <img src="/assets/pictures/t.jpg" />
        <button class="heart-button" (click)="toggleHeartIcon()">
          <img [src]="heartIconSrc" class="heart-icon" />
        </button>
        <a href="/home">
          <button class="profile-button">
            <img src="/assets/see-profile3.png" class="profile-icon"/>
          </button>
        </a>
        <div class="text-container" >
          <h1>User : {{ user.id }} {{ user.last_name }}, {{ user.age }} ans</h1>
          <h1>Gender: {{ user.gender }}, Interest : {{ user.interest }}</h1>
          <h1>connection : {{ user.status }}</h1>
          <h1>FameRating: {{ user.fameRating }}</h1>
          <h3>Tags: {{ user.tags }}</h3>
        </div>
      </div>
    </div>
    <!-- Footer a creer sur toute les pages !-->
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Footer content here</span>
      </div>
    </footer>
  </main>
</body>
    
    <!-- Autres divs a changer 
    <div class="flex-item" *ngFor="let user of users">
      <img src="/assets/pictures/t5.jpg" />
      <button class="heart-button" (click)="toggleHeartIcon()">
        <img [src]="heartIconSrc" class="heart-icon" />
    </button>
    <a href="/home">
      <button class="profile-button">
          <img src="/assets/see-profile3.png" class="profile-icon"/>
      </button>
    </a>
      <div class="text-container">
        <h1>User : {{ user.id }} {{ user.first_name }} {{ user.last_name }}</h1>
      </div>
    </div>
    <div class="flex-item" *ngFor="let user of users">
      <img src="/assets/pictures/test2.jpg" />
      <button class="heart-button" (click)="toggleHeartIcon()">
        <img [src]="heartIconSrc" class="heart-icon" />
    </button>
    <a href="/home">
      <button class="profile-button">
          <img src="/assets/see-profile3.png" class="profile-icon"/>
      </button>
    </a>
      <div class="text-container">
        <h1>User : {{ user.id }} {{ user.first_name }} {{ user.last_name }}</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex-item">
      <img src="/assets/pictures/p4.jpg" />
      <button class="heart-button" (click)="toggleHeartIcon()">
        <img [src]="heartIconSrc" class="heart-icon" />
    </button>
    <a href="/home">
      <button class="profile-button">
          <img src="/assets/see-profile3.png" class="profile-icon"/>
      </button>
    </a>
      <div class="text-container">
      </div>
    </div>
    <div class="flex-item">
      <img src="/assets/pictures/t4.jpg" />
      <button class="heart-button" (click)="toggleHeartIcon()">
        <img [src]="heartIconSrc" class="heart-icon" />
    </button>
    <a href="/home">
      <button class="profile-button">
          <img src="/assets/see-profile3.png" class="profile-icon"/>
      </button>
    </a>
      <div class="text-container">
        <h1>John Doe</h1>
      </div>
    </div>
    <div class="flex-item">
      <img src="/assets/pictures/p1.jpg" />
      <button class="heart-button" (click)="toggleHeartIcon()">
        <img [src]="heartIconSrc" class="heart-icon" />
    </button>
    <a href="/home">
      <button class="profile-button">
          <img src="/assets/see-profile3.png" class="profile-icon"/>
      </button>
    </a>
      <div class="text-container">
        <h1>John Doe</h1>
      </div>
    </div>-->






  
