main {
  background-color: white;
  background-repeat: repeat; 
  background-size: auto; 
  background-attachment: fixed;
  height: 100vh; 
}

header {
  background-color: black;
  height: 10vh;
}


html {
  position: relative;
  min-height: 100%;
}


.status-unlike{
  /*border-bottom: 5px solid #00C2AB;*/
  border-bottom: 7px solid #5DCE96;
  /*border-bottom: 5px solid #A1F410;*/
}
.status-like{
  border-bottom: 7px solid #adacac;
  /*border-bottom: 7px solid #ce5d95;*/
}


.status-online{
  /*border-bottom: 5px solid #00C2AB;*/
  border-bottom: 7px solid #5DCE96;
  /*border-bottom: 5px solid #A1F410;*/
}
.status-offline{
  border-bottom: 7px solid #adacac;
  /*border-bottom: 7px solid #ce5d95;*/
}

.container {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.flex-item {
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 365px;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 300px;
  font-size: 64px;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc;
  transition: width 0.3s ease, height 0.3s ease;
}

.flex-item:hover {
  transform: scale(1.010);
}

.flex-item img {
 /* max-width: 280px;*/
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (width <= 740px){
  .flex-item img {
   /* margin: -100px 0 30px;*/
    max-width: 1000px;
    width: 100%;
    /*margin-bottom: 40px;*/
  }
  
}

.rating {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin: -14px 0;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #6f00ff;
  transition: color 0.3s;
}


/*  FAME DIV */
.fame-div {
  position: absolute;
  top: 305px; 
  right: -3px;
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
  
}

.fame-div img.fame-icon {
  width: 50px;
  height: 50px;
}

.fame-rating-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2C3E50; 
  color: white;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 85%;
}



/* PROFILE BUTTON */
.profile-button {
  position: absolute;
  top: 145px; 
  right: 124px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.profile-button img.profile-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.profile-button:hover img.profile-icon {
  transform: scale(1.1);
}

.famee-icon {
    position: absolute;
    top: 145px; 
    right: 95px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    width: 30px;
    height: 30px;
}
.fame-button {
  position: absolute;
  top: 317px; 
  right: 264px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  display: inline-block; 
}
.fame-button img.fame-icon {
  width: 40px;
  height: 40px;
}
.fame-rating-number {
  color: #e67e22;
  font-weight: bold;
}
.fame-rating-text {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
  font-weight: bold;
  font-size: calc(20% + 1vmin); 
  line-height: 1; 
  pointer-events: none; 
}
.fame-rating-box {
  background-color: #f56b8c;
  color: white; 
  padding: 3px 3px; 
  font-weight: bold;
  text-align: center; 
  border-radius: 5px;
  display: inline-block; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 10px; 
  position: absolute;
  top: 52%;
  left: 86%;
}
.fame-rating-box img.fame-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: -12%;
}

/* LIKE BUTTON */

.like-button {
  position: absolute;
  top: 145px; 
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.like-button img.like-icon {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.like-button:hover img.like-icon {
  width: 70px;
  height: 70px;
  transform: scale(1.1);
}

.like-button:hover img.like-icon:hover {
  content: url('/assets/love-button3.png');
}

/* TEXTE BOX */
.text-container {
  height: 50%;
  padding: 18px;
}

.flex-item .text-container h2 {
  color: black;
  text-align: left;
  margin-bottom: 5px;
}


.flex-item .text-container h3 {
  color: black;
  text-align: left;
  font-size: 15px;
  margin-bottom: 5px;
}

.text-container h1 {
  color: grey;
  font-size: 15px;
  text-align: left;
  margin-bottom: 5px;
}


.fixed-header {
  position: fixed;
  top: 20px;
}

.container-navbar {

  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}



/* BACKGROUND IMAGE TEST
.background-image {
  background-color: white;
  background-repeat: repeat; 
  background-size: auto; 
  background-attachment: fixed;
  height: 100vh; 
}

.background-image3 {
  background-image: url('/assets/tt.png');
  background-size: cover;
  background-attachment: fixed;
}


.background-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/74.jpg');
  background-repeat: no-repeat;
  background-color: #0006;
  height: 100vh;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .background-image {
    height: 100vh;
  }
}

@media screen and (max-width: 576px) {
  .background-image {
    height: 100vh;
  }
}
.background-image3 {
  background-color: #e9b3d5;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 600% 600%;
}

.background-image2 {
  background: linear-gradient(45deg, #8A2BE2, #FF69B4, #FFD700);
  background-size: 600% 600%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  place-items: center;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */





