/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: 'Grace';
  src: url('/assets/fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}


.nav {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.878);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
}

.nav-header {
  display: flex;
}

.nav-title {
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 0;
}

.nav-btn {
  display: none;
}

.nav-links {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.nav-links > a {
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#nav-check {
  display: none;
}

@media (max-width: 800px) {
  .nav{
    position: fixed;
    z-index: 1000;
    overflow: hidden;
  }
  .nav-btn {
    display: flex;
    align-items: center;
  }
  .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav-btn > label:hover,
  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #eee;
    margin: 5px 0;
  }
  .nav-links {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    background-color: black;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0;
    flex-direction: column;
    gap: 0;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
  }
  .nav-links > a {
    width: 100%;
  }
  #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}




.hide-navbar {
  display: none;
}



.title-text-logo {
  font-family: 'Grace', sans-serif;
  font-size: 2.5em;
  color: white;
  user-select: none;
  margin-left: -130px;
}



.nav-elements-link {
  font-size: 14px;
  color: #f8f8f8;
  grid-row: 1;
  grid-column: 2;
}




.nav-elements-link .nav-text {
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s;
  color: white;
}

.nav-elements-link .nav-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.nav-elements-link .nav-text:hover::after {
  background-color: pink;
}


.background-image {
  background: linear-gradient(45deg, #8A2BE2, #FF69B4, #FFD700);
  background-size: 600% 600%;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  place-items: center;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.img-class {
  width: 45px;
  margin-left: 104px;
  margin-bottom: 22px;
}