<div class="nav">
  <input type="checkbox" id="nav-check" (change)="toggleMenu($event)">
  <div class="nav-header">
    <img src="assets/mug5.png" class="img-class" alt="Logo">
    <a class="title-text-logo" href="/home">Matcha</a>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links nav-elements-link" [ngClass]="{'open': isMenuOpen}">
    <a class="nav-link" href="/home">
      <span class="nav-text">Profil</span>
    </a>
      <a class="nav-link" href="/home">
        <span class="nav-text">Chat</span>
      </a>
      <a class="nav-link" href="/home">
        <span class="nav-text">Historique</span>
      </a>
      <a class="nav-link" href="/home">
        <span class="nav-text">Paramètre</span>
      </a>
      <a class="nav-link" href="#" (click)="logout()">
        <span class="nav-text">LOGOUT</span>
      </a>
  </div>
</div>







