<section class="container2">
  <h1 class="title-search"> Recherche ton Match!</h1>
  <h1 class="title-search2"> Affinez vos recherches pour trouver votre partenaire idéal. Sélectionnez vos critères et commencez votre aventure amoureuse.</h1>
      <div class="search-container">
          <input
              type="text"
              class="search-input"
              [(ngModel)]="searchQuery"
              (focus)="showDropdown = true"
              (input)="onInputChange()"
              placeholder="Trier par..."
          />
          <button class="search-button" (click)="search()">
              <img src="/assets/search-icon1.png" class="search-icon" />
          </button>
          <button class="criteria-button" (click)="toggleAdvancedSearch()">
            <img src="/assets/ajustment2.png" class="criteria-icon" />
        </button>
          <div *ngIf="showDropdown" class="dropdown-menu">
              <button *ngFor="let filter of filters" (click)="selectFilter(filter)">
                  {{ filter }}
              </button>
          </div>
          <ul *ngIf="autocompleteOptions.length" class="autocomplete-list">
              <li *ngFor="let option of autocompleteOptions" (click)="selectAutocompleteOption(option)">
                  {{ option }}
              </li>
          </ul>
      </div>

      <!-- Advanced Search Button 
      <div class="advanced-search-button-container">
      <button class="criteria-button" (click)="toggleAdvancedSearch()">
        <img src="/assets/ajustment.png" class="criteria-icon" />
    </button>
  </div> -->
    <!--
    <div class="advanced-search-button-container">
        <img src="assets/ajustment.png" class="icon-criteria ">
        <a class="title-text-logo" (click)="toggleAdvancedSearch()">Recherche avancée</a>
      </div>-->
    
   

     <!-- Advanced Search Container !-->
     <div *ngIf="showAdvancedSearch" class="advanced-search-container">
        <h2>Recherche Avancée</h2>
        <div class="filters">
          <div class="filter-item">
            <input type="checkbox" [(ngModel)]="ageEnabled" />
            <label>Âge:
              <input type="range" min="18" max="99" [(ngModel)]="ageRangeStart" class="custom-range">
              <span>{{ ageRangeStart }} ans</span>
            </label>
          </div>
          <div class="filter-item">
            <input type="checkbox" [(ngModel)]="fameEnabled" />
            <label>Fame Rating:
              <input type="range" min="0" max="5" [(ngModel)]="fameRating" class="custom-range">
              <span>{{ fameRating }} FameRate</span>
            </label>
          </div>
          <div class="filter-item">
            <input type="checkbox" [(ngModel)]="locationEnabled" />
            <label>Localisation (Km):
              <input type="range" min="0" max="5000" [(ngModel)]="locationRange" class="custom-range">
              <span>{{ locationRange }} Km</span>
            </label>
          </div>
          <div class="filter-item">
            <input type="checkbox" [(ngModel)]="tagsEnabled" />
            <label>Tags:
                <input type="range" min="0" max="5" [(ngModel)]="selectedTags" class="custom-range">
                <span>{{ selectedTags }} Tags en commun</span>
              </label>
            <!--
            <label>Tags:
              <select multiple [(ngModel)]="selectedTags">
                <option *ngFor="let tag of availableTags" [value]="tag">tags</option>
              </select>
            </label>-->
          </div>
        </div>
        <div class="actions">
          <button class="test2"(click)="resetFilters()">Reset</button>
          <button class="test"(click)="applyAdvancedSearch()">Match</button>
        </div>
        <div class="results-count">{{ filteredUsers.length }} results</div>
      </div>

    </section>



  
