<section class="container2">
      <div class="search-container">
          <input
              type="text"
              class="search-input"
              [(ngModel)]="searchQuery"
              (focus)="showDropdown = true"
              (input)="onInputChange()"
              placeholder="Trier par..."
          />
          <button class="search-button" (click)="search()">
              <img src="/assets/search-icon1.png" class="search-icon" />
          </button>
          <div *ngIf="showDropdown" class="dropdown-menu">
              <button *ngFor="let filter of filters" (click)="selectFilter(filter)">
                  {{ filter }}
              </button>
          </div>
          <ul *ngIf="autocompleteOptions.length" class="autocomplete-list">
              <li *ngFor="let option of autocompleteOptions" (click)="selectAutocompleteOption(option)">
                  {{ option }}
              </li>
          </ul>
      </div>

      <!-- Advanced Search Button !-->
    <div class="advanced-search-button-container">
        <button (click)="toggleAdvancedSearch()">Recherche avancée</button>
      </div>
    
    </section>

    <!-- Advanced Search Container !-->
    <div *ngIf="showAdvancedSearch" class="advanced-search-container">
        <div>
          <label>Âge: 18 <input type="range" min="18" max="99" [(ngModel)]="ageRangeStart"> - <input type="range" min="18" max="99" [(ngModel)]="ageRangeEnd"> 99</label>
        </div>
        <div>
          <label>Tags:
            <select multiple [(ngModel)]="selectedTags">
              <option *ngFor="let tag of availableTags" [value]="tag">{{ tag }}</option>
            </select>
          </label>
        </div>
        <div>
          <label>Localisations:
            <input type="text" [(ngModel)]="location">
          </label>
        </div>
        <div>
          <label>Fame Rating:
            <input type="range" min="0" max="10" [(ngModel)]="fameRating">
          </label>
        </div>
        <button (click)="applyAdvancedSearch()">Appliquer</button>
      </div>





  
