@font-face {
  font-family: 'Grace';
  src: url('/assets/fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing';
  src: url('/assets/fonts/Exo2-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bungee';
  src: url('/assets/fonts/Bungee.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/27.jpg');
  background-repeat: no-repeat;
  background-color: #0006;
  height: 100vh;
  background-size: cover;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 768px) {
  .background-image {
    height: 100vh;
  }
}

@media screen and (max-width: 576px) {
  .background-image {
    height: 100vh;
   /* background-image: url('/assets/65.jpg');*/
  }
}
.container {
  display: grid;
  text-align: center;
  place-items: center;
}

.image-class {
  width: 114px;
  height: auto;
  margin-left: 288px;
  margin-top: -88px;
}

.title-text {
  font-size: 150%;
  font-style: italic;
  font-family: 'Dancing';
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  user-select: none;
}

.title-text-logo {
  font-family: 'Grace', sans-serif;
  font-size: 9em;
  color: white;
  grid-row: 1;
  margin-right: 62px;
  user-select: none;
  /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  animation: bounceText 1s ease-out 1;
}

@keyframes bounceText {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.signin-button {
  background-color: transparent;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px; 
  border: 3px solid #e9b3d5; 
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  font-size: 22px;
  font-family: sans-serif;
  color: #e9b3d5;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  grid-column: 1;
  margin-top: 20px;
 /* box-shadow: 0 0.4rem 0 0 #e9b3d5;
  transition: all 0.3s;
  height: 3.5rem;
  padding: 0 2rem;*/
}

.signin-button:hover {
  color: #e94373;
  background-color: rgba(255, 255, 255, 0.2);
}

.signin-button:active {
  transform: translateY(0.3rem);
  box-shadow: 0 0.2rem 0 0 #e9b3d5;
}
  

  
  
