<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
  <div>{{ errorMessage }}</div>
  <button type="button" class="btn-close" (click)="errorMessage = false" aria-label="Close"></button>
</div>
<div *ngIf="successMessage" class="alert alert-success alert-dismissible" role="alert">
  <div>{{ successMessage }}</div>
  <button type="button" class="btn-close" (click)="successMessage = false" aria-label="Close"></button>
</div>
<div class="form_container_signup">
          <h2>Creer un compte</h2>
          <div class="input-wrapper">
            <input id="email" [(ngModel)]="email" name="email" required autocomplete="off"/>
            <label for="email">Adresse e-mail</label>
            <div class="underline"></div>
          </div>
          <div class="input-wrapper">
            <input type="last_name" id="firt_name" [(ngModel)]="last_name" name="last_name" required autocomplete="off"/>
            <label for="last_name">Nom</label>
            <div class="underline"></div>
          </div>
          <div class="input-wrapper">
            <input type="first_name" id="first_name" [(ngModel)]="first_name" name="first_name" required autocomplete="off"/>
            <label for="first_name">Prenom</label>
            <div class="underline"></div>
          </div>
          <div class="input-wrapper">
            <input type="username" id="username" [(ngModel)]="username" name="username" required autocomplete="off"/>
            <label for="username">Nom d'utilisateur</label>
            <div class="underline"></div>
          </div>
          <div class="input-wrapper">
            <div class="show-hide" type="button" (click)="toggleShowPassword()">
              {{ showPassword ? 'Masquer' : 'Afficher' }}
            </div>
            <input [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password" required autocomplete="off"/>
            <label for="password">Mot de passe</label>
            <div class="underline"></div>
          </div>
          
          <div class="input-wrapper">
            <div class="show-hide" type="button" (click)="toggleShowPassword()">
              {{ showPassword ? 'Masquer' : 'Afficher' }}
            </div>
            <input [type]=" showPassword ? 'text' : 'password'" id="check_password" [(ngModel)]="check_password" name="check_password" required autocomplete="off"/>
            <label for="check_password">Confirme ton mot de passe</label>
            <div class="underline"></div>
        </div>
          <button class="button" (click)="onSubmit()">Creer un compte</button>
          <div class="login_signup">Vous avez déjà un compte ? <a href="#" id="login" (click)=" onToggleFormClick()">Se connecter</a></div>
</div>
