<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
    <div>{{ errorMessage }}</div>
    <button type="button" class="btn-close" (click)="errorMessage = false" aria-label="Close"></button>
  </div>
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible" role="alert">
    <div>{{ successMessage }}</div>
    <button type="button" class="btn-close" (click)="successMessage = false" aria-label="Close"></button>
  </div>
  <div class="form_container">
            <h2>Réinitialiser le mot de passe</h2>
            <span>Un lien va être envoyé à votre adresse e-mail afin de réinitialiser votre mot de passe.</span>
            <div class="input-wrapper">
              <input id="email" [(ngModel)]="email" name="email" required autocomplete="off"/>
              <label for="email">Adresse e-mail</label>
              <div class="underline"></div>
            </div>
            <button class="button" (click)="onSubmit()">Envoyer</button>
  </div>